body {
  font-family: "Red Hat Display", sans-serif;
  background-color: hsl(225, 100%, 94%);
}

.background {
  margin-left: -10px;
  margin-top: -10px;
}

.mob-back{
    display: none;
}

.container {
  text-align: center;
  margin-top: -130px;
}

.hero {
  border-radius: 20px 20px 0 0;
}

.card {
  background-color: white;
  padding-bottom: 40px;
  padding-top: 10px;
  border-radius: 0 0 20px 20px;
  margin-top: -5px;
  margin-left: 5px;
  margin-right: 3px;
  box-shadow: 0 4px 9px 0 rgba(25, 0, 250, 0.2);
}

h1 {
  color: hsl(223, 47%, 23%);
}

.first-p {
  font-size: 14px;
  width: 75%;
  margin: auto;
  font-weight: 450;
  color: hsl(224, 23%, 55%);
  letter-spacing: 1px;
  line-height: 25px;
  margin-bottom: 30px;
}

.plan {
  display: flex;
  background-color: hsl(225, 100%, 98%);
  border-radius: 15px;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 10px;
  padding-right: 0;
  padding-bottom: 5px;
}

h4 {
  font-size: 14px;
  margin-bottom: -10px;
  color: hsl(223, 47%, 23%);
}

.icon {
  padding-left: 15px;
  margin-top: 5px;
}

.price {
  font-size: 14px;
  color: hsl(224, 23%, 55%);
}

.info {
  margin-left: 20px;
  margin-top: -10px;
}

p a {
  font-size: 13px;
  font-weight: 600;
  margin-left: 70px;
}

p a:active {
  color: hsla(245, 75%, 52%, 60%);
}
.payment-btn {
  border: none;
  border-radius: 10px;
  background-color: hsl(245, 75%, 52%);
  color: white;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 600;
  padding: 15px 70px;
  font-size: 15px;
  box-shadow: 0 4px 9px 0 rgba(25, 0, 250, 0.2);
  margin-bottom: 20px;
  margin-top: 20px;
  cursor: pointer;
}

.payment-btn:active {
  background-color: hsla(245, 75%, 52%, 70%);
}

.cnl-order {
  border: none;
  background-color: transparent;
  color: hsl(224, 23%, 55%);
  font-family: "Red Hat Display", sans-serif;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 0.5px;
  cursor: pointer;
}

.cnl-order:active {
  color: black;
}

@media screen and (min-width:400px) {
        .card{
            width: 88%;
            margin: auto;
            margin-top: -5px;
        }    
}

@media screen and (min-width:1440px) {

    .background{
        display: none;
    }
    
    .mob-back{
        display: block;
        z-index: -1;
        position: relative;
    }

    body{
        margin: 0;
    }

    .container{
        margin-top: -290px;
        z-index: 1;
        position: relative;
    }


    .card{
        width: 25%;
        margin: auto;
        margin-top: -5px;
    }

    .hero{
        width: 357px;
    }
}

@media screen and (min-width:1900px){

    .card{
        width: 19%;
    }

    .hero{
        width: 364px;
    }

    .mob-back{
        width: 100%;
    }

    .container{
        margin-top: -350px;
    }
    
}